<!-- <div class="banner_image">
  <div class="banner_content">
    <h1>Only I can change my life.<br />
      <span>No one can do it for me.</span>
    </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda nisi, iure magnam omnis corrupti dolorum.</p>
  </div>
</div> -->


<div class="home   position-relative vh-100" id="home">



  <div id="carouselExampleControls" class="carousel slide vh-100 " data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="imgSlid w-100 vh-100 d-flex justify-content-center align-items-center text-center">
          <h1>WELCOME<br>MY FRIENDS</h1>
        </div>
      </div>
      <div class="carousel-item">
        <div class="imgSlid2 w-100 vh-100 d-flex justify-content-center align-items-center text-center">
          <h1>WELCOME <br>MY CLIENTS</h1>
        </div>
      </div>
      <div class="carousel-item">
        <div class="imgSlid3 w-100 vh-100 d-flex justify-content-center align-items-center text-center">
          <h1>WELCOME <br>MY DEAR</h1>
        </div>
      </div>
      <div class="prevnext position-absolute  d-flex flex-column justify-content-center  ">
        <a class="carousel-control-prev  " href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon " aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next " href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>

        </a>
      </div>

    </div>

  </div>
  <div class="fixed-icons text-white">
    <div class="settings position-fixed">
      <a href="#services"> <i class="fas fa-cog  fa-spin"></i></a>

    </div>


  </div>
  <a href="#FOOT" id="aboutlink">
    <div class="scroll position-relative "></div>
  </a>
</div>
