
.imgSlid {
  background-image: url("/assets/images/Eslam/download (9).webp");
  background-position: center center;
  background-size: cover;


}

.imgSlid2 {
  background-image: url("/assets/images/Eslam/download (5).webp");
  background-position: center center;
  background-size: cover;
}

.imgSlid3 {
  background-image: url("/assets/images/Eslam/cutter.jpg");
  background-position: center center;
  background-size: cover;
}

.imgSlid4 {
  background-image: url("/assets/images/Eslam/download (11).webp");
  background-position: center center;
  background-size: cover;
}

h1 {
  font-weight: 700;
  line-height: 1;
  color: #fff;
  font-size: 70px;
}

.carousel-control-prev
 {
  padding: 5px;
  width: 80px;
  height: 50px;
  position: relative;
}

.carousel-control-next {
  padding: 5px;
  width: 80px;
  height: 50px;
  position: relative;
}

.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
  position: absolute;
  width: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  transition: .5s;
  z-index: -1;
}

.carousel-control-prev-icon:hover:after,
.carousel-control-next-icon:hover:after {
  width: 100%;
}

.prevnext {
  width: 150px;
  height: 100%;

}

.home .settings {
  top: 20%;
  background-color: #2b2424;
  padding: 8px 8px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.home .settings:hover {
  opacity: .8;
}

.home .settings i {
  font-size: 20px;
}


.navbar::after {
  content: "";
  width: 100%;
  height: .5px;
  background: #fff;
  top: -20%;
  display: block;
  position: relative;
}

#aboutlink {
  width: 26px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 13px;
  margin: auto;
  position: absolute;
  z-index: 22;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  transition: .3s;

  cursor: pointer;
}

.scroll {
  width: 8px;
  height: 8px;
  background: #fff;
  margin: 10% auto 0 auto;
  border-radius: 50%;
  animation: scroll 2s infinite linear;
  transition: .3s;
}

@keyframes scroll {

  0% {
    margin-top: 5%;
    opacity: 1;
  }

  10% {
    margin-top: 10%;
    opacity: .9;
  }

  20% {
    margin-top: 20%;
    opacity: .8;
  }

  30% {
    margin-top: 30%;
    opacity: .7;
  }

  40% {
    margin-top: 40%;
    opacity: .6;
  }

  50% {
    margin-top: 50%;
    opacity: .5;
  }

  60% {
    margin-top: 60%;
    opacity: .4;
  }

  70% {
    margin-top: 70%;
    opacity: .3;
  }

  80% {
    margin-top: 80%;
    opacity: .2;
  }

  85% {
    margin-top: 90%;
    opacity: .0;
  }

  95% {
    margin-top: 10%;
    opacity: 0;
  }

  100% {
    margin-top: 10%;
    opacity: .5;
  }

}

#aboutlink:hover {
  border-color: #ff305b !important;
}

#aboutlink:hover .scroll {
  background: #ff305b !important;
}
