<section class="contact-area mt-5" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="contact-content text-center">
          <a href="#"
            ><img src="https://i.ibb.co/QDy827D/ak-logo.png" alt="logo"
          /></a>
          <p>
            Renterific is the biggest website for renting heavy tools, appliance
            and many more. Join us now and gain some easy money.
          </p>
          <div class="hr"></div>
          <h6>Based in Egypt</h6>
          <div class="contact-social">
            <ul>
              <li>
                <a class="hover-target" href=""
                  ><i class="fab fa-facebook-f"></i
                ></a>
              </li>
              <li>
                <a class="hover-target" href=""
                  ><i class="fab fa-linkedin-in"></i
                ></a>
              </li>
              <li>
                <a class="hover-target" href=""
                  ><i class="fab fa-github"></i
                ></a>
              </li>
              <li>
                <a class="hover-target" href=""
                  ><i class="fab fa-behance"></i
                ></a>
              </li>
              <li>
                <a class="hover-target" href=""
                  ><i class="fab fa-pinterest-p"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- =============== 1.9 Contact Area End ====================-->
<!-- =============== 1.9 Footer Area Start ====================-->
<footer>
  <p>Copyright &copy; Love Team 2021 All Rights Reserved</p>
</footer>