.main {
  margin-top:10%;
}
.image {
  padding: 10px;
  border:10px solid rgb(201, 198, 198);
  width:75%;
}
.edit {
  color:rgb(126, 126, 126);
  background-color:white;
}

.personal {
  border:1px solid black;
}