<div class="container my-5 " >
  <div class="row">
    <div class="col-12">
      <div class="card" style="margin-top:40px !important ;">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4">
              <div class="border-bottom text-center pb-4">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="profile"
                  class="img-lg rounded-circle mb-3" onclick="document.getElementById('fileInput').click();" />
                <div class="mb-3">
                 
                  <h3>User Name :
                    {{ name  }}
                  </h3>
                  <div class=" align-items-center justify-content-center">
                    <h5 class="mb-0 mr-2 text-muted">{{ city }}</h5>
                    <h5 class="mb-0 mr-2 text-black-50"><i class="bi bi-geo-alt mr-1"></i>Location
                      {{ street }}
                    </h5>
                  </div>
                  <div class="text-center mt-4 mt-md-0 w-100 pt-5">
                    <button class="btn btn-outline-primary w-50 " routerLink='editProfile' routerLink='editProfile'>Edit Profile</button>
                  </div>
                </div>
              </div>

              <div class="py-4">
                <p class="clearfix">
                  <span class="float-left">
                    E-Mail : 
                  </span>
                  <span class="float-right text-muted">
                    {{ email }}
                  </span>
                </p>
              </div>
            </div>
            <div class="col-lg-8">
              <!-- nav bar -->
              <div class="mt-4 py-2 border ">
                <ul class="nav profile-navbar">
                  <li class="nav-item">
                    <a class="nav-link" routerLink='myProducts'>
                      <i class="bi bi-bag mr-1"></i>
                      My Product
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink='addNewProduct'>
                      <i class="bi bi-bag-plus mr-1"></i>
                      Add Product
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink='seller-notify'>
                      <i class="bi bi-bell mr-1"></i>
                      Seller Notification
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink='buyer-notify'>
                      <i class="bi bi-bell mr-1"></i>
                      Buyer Notification
                    </a>
                  </li>
                  
                  
                  
                </ul>
              </div>
              <div class="Content">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
