h2 {
  font-size: 70px;
  color: #d8d0d0;
}

.ttb-effect {
  position: relative;
}

.ttb-effect:after {
  position: absolute;
  height: 0%;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background: #333;
  content: "";
  transition: 2s;
  z-index: -1;
}

.ttb-effect:hover::after {
  height: 100%;
}



.team-item {


  background: #e8e8e8;
  padding: 20px 30px;
  text-align: center;
  transition: background 2s;
}

.team-item .team-img {
  /* width:190%; */
  margin: auto;
  position: relative;
}

.team-item .team-img img {
  width: 100%;
}

.ttb-effect:hover::after {
  height: 100%;
}

.team-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
  opacity: 0;
  visibility: hidden;
  transition: 2s;
}

.team-overlay a {
  display: block;
  margin-left: auto;
  width: 40px;
  height: 40px;
  background: #7ba7ff;
  color: #fff;
}

.team-overlay i {
  line-height: 40px;
  transition: .5s;
}

.team-overlay i:hover {
  color: rgb(245, 33, 33);
}


.team-item:hover .team-overlay {
  opacity: 1;
  visibility: visible;
}

.team-info-title {
  color: #222;
  margin: 10px 0;
  transition: color 2s;
}

.team-info-text {
  color: #999;
  text-transform: uppercase;
  font-size: 14px;
  transition: color 2s;
}

.team-item:hover .team-info-title {
  color: white;
}

.team-item:hover .team-info-text {
  color: #6195ff;
}

.team-item.ttb-effect {
  z-index: 1;
}

/* blog section*/
.blog {
  background-color: #f8f8f8;
}

.blog-content {
  overflow: hidden;
}

.blog-item {
  float: left;
  width: 30%;
  position: relative;
  background: #fff;

}

.blog-item .blog-img {
  position: relative;
  width: 100%;
}

.blog-list,
.blog-title,
.blog-desc {
  padding-left: 10px;
}

.lii {
  display: inline-block;

}

.lii.mi {
  margin: 0 5px;
}

.lii .icon {
  color: #6195ff;
}

.blog-item.mg {
  margin-left: 5%;
  margin-right: 5%;
}

.blog-title {
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0;
}

.blog-desc {
  color: #999;
  line-height: 1.5;
}

.blog-read {
  margin-left: 10px;
  margin: 15px 0 25px 10px;
  border: none;
  color: #6195ff;
  background: none;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/* 2-General Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
}

.hover-opacity {
  transition: opacity 0.5s;
}

.hover-opacity:hover {
  opacity: 0.8;
}

.sectino-header {
  text-align: center;

}

.sectino-header .section-title {
  font-size: 33px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.sectino-header .line {
  width: 60px;
  height: 4px;
  display: block;
  margin-bottom: 12px;
  margin-top: 10px;
  background-color: #6195ff;
  margin: 0 auto 70px auto;
}

.pd-y {
  padding: 120px 0;
}

/* effect top to button*/
