<div class="container py-5 my-5">
  <div class="row justify-content-center align-items-center text-center ">
    <h2 class="font-weight-bolder styleh2">O</h2>
    <h3 class="font-weight-bolder position-absolute">Our Team</h3>
  </div>
  <div class="row col-12">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 text-center my-3">
      <div class="card-wrapper">
        <div class="card">
          <div class="card-image">
            <img src="assets/images/eslamn.jpg" alt="profile one">
          </div>
          <ul class="social-icons d-flex justify-content-between">
            <li>
              <a href="https://www.facebook.com/EslamAfifyBarakat" target="_blank" rel="noopener">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/eslamafifybarakat/" target="_blank" rel="noopener">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/EslamAfify1096" target="_blank" rel="noopener">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/eslamafifybarakat" target="_blank" rel="noopener">
                <i class="fab fa-github"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/eslam-afify-barakat-3a1396142/" target="_blank" rel="noopener">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>

          <div class="details">
            <h2>Eslam Afify Barakat
              <br>
              <span class="job-title">MEARN Stack Developer</span>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 text-center my-3">
      <div class="card-wrapper">
        <div class="card profile-two">
          <div class="card-image profile-img--two">
            <img src="assets/images/abdo.jpg" alt="profile two">
          </div>

          <ul class="social-icons d-flex justify-content-between">
            <li>
              <a href="https://www.facebook.com/abdalrhman.osama.3/" target="_blank" rel="noopener">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/abdelrhman.jpg/" target="_blank" rel="noopener">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/3bood_osama" target="_blank" rel="noopener">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/abdelrahman-osama793" target="_blank" rel="noopener">
                <i class="fab fa-github"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/abdelrahman-osama793/" target="_blank" rel="noopener">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>

          <div class="details jane">
            <h2>Abdelrahman Osama
              <br>
              <span class="job-title">MEARN Stack Developer</span>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 text-center my-3">
      <div class="card-wrapper">

        <div class="card">

          <div class="card-image">
            <img src="https://image.ibb.co/dUTfmJ/profile_img.jpg" alt="profile one">
          </div>

          <ul class="social-icons d-flex justify-content-between">
            <li>
              <a href="">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fab fa-github"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>

          <div class="details">
            <h2>John Smith
              <br>
              <span class="job-title">UI Developer</span>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 text-center my-3">
      <div class="card-wrapper">
        <div class="card">
          <div class="card-image">
            <img src="https://image.ibb.co/dUTfmJ/profile_img.jpg" alt="profile one">
          </div>
          <ul class="social-icons d-flex justify-content-between">
            <li>
              <a href="">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fab fa-github"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>

          <div class="details">
            <h2>John Smith
              <br>
              <span class="job-title">UI Developer</span>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 text-center my-3">
      <div class="card-wrapper">

        <div class="card profile-two">

          <div class="card-image profile-img--two">
            <img src="https://image.ibb.co/c9rY6J/profile02.jpg" alt="profile two">
          </div>

          <ul class="social-icons d-flex justify-content-between">
            <li>
              <a href="">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fab fa-github"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>

          <div class="details jane">
            <h2>Jane Doe
              <br>
              <span class="job-title">UI Designer</span>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 text-center my-3">
      <div class="card-wrapper">

        <div class="card">

          <div class="card-image">
            <img src="https://image.ibb.co/dUTfmJ/profile_img.jpg" alt="profile one">
          </div>

          <ul class="social-icons d-flex justify-content-between">
            <li>
              <a href="">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fab fa-github"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>

          <div class="details">
            <h2>John Smith
              <br>
              <span class="job-title">UI Developer</span>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
