<section class="h-150">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration mb-5" style="border-radius: 10px;">
          <div class="card-body p-4 p-md-5">
            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
            <form [formGroup]='registerForm'   (ngSubmit)='submitRegisterForm(registerForm)'>

              <div class="row">
                <h5 class="pb-3">Personal Information</h5>
                <div class="col-md-12 mb-4">
                  <div class="form-outline">
                    <input formControlName='Name' type="text"   id="firstName" class="form-control form-control-lg" placeholder="Full Name" />
                    <div *ngIf="registerForm.get('Name')?.errors!=null && registerForm.get('Name')?.touched" class="alert alert-danger mt-2">
                      <p *ngIf="registerForm.get('Name')?.errors?.required">firs_name is required</p>
                      <p *ngIf="registerForm.get('Name')?.errors?.minlength">firs_name is minLength 3</p>
                      <p *ngIf="registerForm.get('Name')?.errors?.maxlength">firs_name is maxLength 10 </p>
                  </div>
                  </div>

                </div>
               
              </div>

              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input formControlName="Email" type="email" id="emailAddress" class="form-control form-control-lg"
                      placeholder="Email Address" />
                      <div *ngIf="registerForm.get('Email')?.errors!=null && registerForm.get('Email')?.touched" class="alert alert-danger mt-2">
                        <p *ngIf="registerForm.get('Email')?.errors?.required">email is required</p>
                        <p *ngIf="registerForm.get('Email')?.errors?.email">email not valid</p>
                        
                
                    </div>
                  </div>
                </div>


                <div class=" col-md-12 mb-4 pb-2">
                  <div class="form-outline">
                    <input formControlName='Password' type="tel" id="password" class="form-control form-control-lg" placeholder="Password" />
                    <div *ngIf="registerForm.get('Password')?.errors!=null && registerForm.get('Password')?.touched" class="alert alert-danger mt-2">
                      <p *ngIf="registerForm.get('Password')?.errors?.required">password is required</p>
                      <p *ngIf="registerForm.get('Password')?.errors?.pattern">password must start with uppercase and minlength 3 chars and max is 8 chars </p>
                     
              
                  </div>
                  </div>
                </div>


                <div class="col-xl-12 col-lg-12 col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input formControlName='Phone'  type="tel" id="phoneNumber" class="form-control form-control-lg"
                      placeholder="Phone Number" />
                      <div *ngIf="registerForm.get('Phone')?.errors!=null && registerForm.get('Phone')?.touched" class="alert alert-danger mt-2">
                        <p *ngIf="registerForm.get('Phone')?.errors?.required">Phone is required</p>
                        <p *ngIf="registerForm.get('Phone')?.errors?.pattern">Phone invalid </p>
                       
                
                    </div>

                  </div>
                </div> 
                <div class="form-floating mb-4">
                  <label for="Address_street">Address_street</label>
                    <input formControlName='Address_street' type="text" name="Address_street" class="form-control" id="Address_street" style="margin-top: 50px;" />
                    <div *ngIf="registerForm.get('Address_street')?.errors!=null && registerForm.get('Address_street')?.touched" class="alert alert-danger mt-2">
                      <p *ngIf="registerForm.get('Address_street')?.errors?.required">Address_street is required</p>
                      <p *ngIf="registerForm.get('Address_street')?.errors?.minlength">Address_street is minLength 10</p>
                      <p *ngIf="registerForm.get('Address_street')?.errors?.maxlength">Address_street is maxLength 40 </p>
                </div>
                  
                </div>
                <div class=" col-md-6 mb-4 pb-2">
                      <label for="Address_city">Address_city</label>
                      <select formControlName='Address_city' class="form-select form-control" id="Address_city">
                        <option value="Menoufia">Menoufia</option>
                        <option value="Zagazig">Zagazig</option>
                        <option value="Alex">Alex</option>
                        <option value="Cairo">Cairo</option>
                      </select>
                      <div *ngIf="registerForm.get('Address_city')?.errors!=null && registerForm.get('Address_city')?.touched" class="alert alert-danger mt-2">
                        <p *ngIf="registerForm.get('Address_city')?.errors?.required">Address_city is required</p></div>
                    </div>
                    
              </div>
              <div class="mt-4 pt-2">
                <button class="btn btn-primary btn-lg"  type="submit" >Submit</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
