<section class="h-100">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration mb-5" style="border-radius: 10px;">
          <div class="card-body p-4 p-md-5">
            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
            <form>

              <div class="row">
                <h5 class="pb-3">Personal Information</h5>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="firstName" class="form-control form-control-lg" placeholder="First Name" />
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" id="lastName" class="form-control form-control-lg" placeholder="Last Name" />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input type="email" id="emailAddress" class="form-control form-control-lg"
                      placeholder="Email Address" />
                  </div>
                </div>


                <div class=" col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input type="tel" id="password" class="form-control form-control-lg" placeholder="Password" />
                  </div>
                </div>

                <div class=" col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input type="tel" id="renter-Password" class="form-control form-control-lg"
                      placeholder="Renter Password" />
                  </div>
                </div>

                <div class="col-xl-12 col-lg-12 col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input type="tel" id="phoneNumber" class="form-control form-control-lg"
                      placeholder="Phone Number" />
                  </div>
                </div>
                <h5 class="pb-3">Location</h5>
                <div class="form-floating mb-4">
                  <input type="text" class="form-control" id="Street" placeholder="Street" />
                  <label for="Street">Street</label>
                </div>

                <div class=" col-md-6 mb-4 pb-2">
                  <select class="form-select">
                    <option value="1">State</option>
                    <option value="2">Option 1</option>
                    <option value="3">Option 2</option>
                    <option value="4">Option 3</option>
                  </select>
                </div>

                <div class=" col-md-6 mb-4 pb-2">
                  <select class="form-select">
                    <option value="1">City</option>
                    <option value="2">Option 1</option>
                    <option value="3">Option 2</option>
                    <option value="4">Option 3</option>
                  </select>
                </div>
              </div>


              <div class="mt-4 pt-2">
                <input class="btn btn-primary btn-lg" routerLink='/explore-products' type="submit" value="Submit" />
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
