<section id="contact">
  <div class="header">
    <div class="container  py-5">
      <div class="row justify-content-center align-items-center text-center">
        <h2 class="font-weight-bolder">G</h2>
        <h3 class="font-weight-bolder position-absolute">Get In Touch</h3>
      </div>
      <div class="row justify-content-center align-items-center flex-column mx-5 text-center">
        <div class="about-line mb-2"></div>
        <p class="subtitle text-muted mx-5 lead">Mauris at tempus mi, ut iaculis dui. Integer laoreet mattis justo nec
          pretium. Ut nibh elit, fermentum vel hendrerit vel, dictum nec velit. Morbi volutpat suscipit.</p>
      </div>
      <div class="row py-5">
        <div class="col-lg-6 col-md-12">
          <h3 class="contact-head">Get answers and advices from professional consultants.</h3>
          <div class="contact-txt position-relative">
            <h4>Address</h4>
            <p class="text-muted">1650 Lombard Street, San Francisco, CA 94123</p>
            <div class="con-icon position-absolute">
              <i class=" fa fa-map fa-2x"></i>
            </div>
          </div>
          <div class="contact-txt position-relative">
            <h4>Phone</h4>
            <p class="text-muted">+1 (415) 876-3250 / +1 (415) 876-3251</p>
            <div class="con-icon position-absolute">
              <i class="fa fa-users fa-2x"></i>
            </div>
          </div>
          <div class="contact-txt position-relative">
            <h4>Message</h4>
            <p class="text-muted">[email protected]</p>
            <div class="con-icon position-absolute">
              <i class="fas fa-cogs fa-2x"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <input type="text" placeholder="Name" class="bg-white d-block  mb-4 btn text-left w-100 border inp">
          <input type="email" placeholder="Email" class="bg-white d-block  mb-4 btn text-left w-100 border">
          <input type="number" placeholder="Phone" class="bg-white d-block  mb-4 btn text-left w-100 border">
          <textarea name="" id="" rows="3" class="bg-white d-block w-100 btn text-left mb-4 border"
            placeholder="Message"></textarea>
          <a href="#" class="btn sendmassege mt-1"><i class="fas fa-paper-plane pr-2 "></i><span>Send Message</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
