

#contact {
  width: 100%;
  background: #fafafa;
}

.sendmassege {
  border-radius: 3px;
  padding: 18px 30px;
  line-height: 1;
  font-weight: 700;
  background: #121c82;
  color: #fff;
  text-align: center;
}

.sendmassege:hover {
  opacity: .8;
  color: #fff;
}

.contact-head {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}

.contact-txt {
  margin-bottom: 12px;
  padding-left: 50px;
}

.contact-txt::after {
  content: "";
  width: 100%;
  height: .5px;
  background: rgba(197, 189, 189, .5);
  top: -20%;
  display: block;
  position: relative;
}

.contact-txt h4 {
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  color: #282828;
  font-weight: 600;
  transition: .3s;
  font-size: 19px;
}

.contact-txt p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.75em;
  color: #666;
}

.con-icon {
  left: 0%;
  top: 0;
  color: #121c82;
}

.con-icon:hover .contact-txt h4,
.contact-txt h4:hover {
  color: #121c82;
}
