

.profile-navbar .nav-item .nav-link {
  color: #6c7293;
}

.profile-navbar .nav-item .nav-link.active {
  color: #464dee;
}

.profile-navbar .nav-item .nav-link i {
  font-size: 1.25rem;
}


.custom-file-input {
  cursor: pointer;
}
.custom-file-label {
  border-radius: 0;
}
 .fileInput {
   display: none;
}




.ratings i {
    font-size: 16px;
    color: red
}

.strike-text {
    color: red;
    text-decoration: line-through
}

.product-image {
    width: 100%
}

.dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block
}

.spec-1 {
    color: #938787;
    font-size: 15px
}

.container h5 {
    font-weight: 400
}

.para {
    font-size: 16px
}

.products-feed-item {
  padding: 1.5rem;
  border: 1px solid #e9e9e9;
  border-radius:7px;
  margin:15px px;
}
.img-sm {
    width: 50px;
    height: 50px;
}
