<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12" *ngIf="flag=='seller'">
      <div class="box shadow-sm rounded bg-white mb-3">
        <div class="box-body p-0" >
          <div class="box-title border-bottom p-3">
          <h6 class="m-0">Recent : seller</h6>
        </div>
          <div class="p-3 d-flex align-items-center bg-light border-bottom osahan-post-header" *ngFor="let re of rental_seller">
            <div class="dropdown-list-image mr-3">
              <img class="rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" />
            </div>
            <div class="font-weight-bold mr-3">
              <div class="text-truncate">{{ product.title }}</div>
              <div class="small">{{ product.desc }}</div>
            </div>
            <span class="ml-auto mb-auto">
              <button class="dropdown-item bg bg-danger text-white" type="button"> Delete</button>
            <br />
            <div class="text-right text-muted pt-1">{{ re.total_payment }}$</div>
          </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="flag=='buyer'">
  <div class="box-title border-bottom p-3">
    <h6 class="m-0">Recent : Buyer</h6>
  </div>
  <div class="p-3 d-flex align-items-center bg-light border-bottom osahan-post-header" *ngFor="let re of rental_buyer">
    <div class="dropdown-list-image mr-3">
      <img class="rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" />
    </div>
    <div class="font-weight-bold mr-3">
      <div class="text-truncate">{{ product.title }}</div>
      <div class="small">{{ product.desc }}</div>
    </div>
    <span class="ml-auto mb-auto">
      <br />
      <div class="text-right text-muted pt-1">{{ re.total_payment }}$</div>
    </span>
  </div>
</div>

