<section id="client" class="py-5">
  <div class="header">
    <div class="container  py-5">
      <div class="row justify-content-center align-items-center text-center">
        <h2 class="font-weight-bolder">C</h2>
        <h3 class="font-weight-bolder position-absolute">Client Reviews</h3>
      </div>
      <div class="row justify-content-center align-items-center flex-column mx-5 text-center">
        <div class="about-line mb-2"></div>
        <p class="subtitle text-muted mx-5 lead">Nullam ac enim auctor, fringilla risus at, imperdiet turpis.
          Pellentesque elementum libero enim, eget gravida nunc laoreet et. Pellentesque elementum libero enim.</p>
      </div>
      <!-- Nav -->
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators  position-static">
          <li data-target="#carouselExampleIndicators carouseIndic" data-slide-to="0" class="active">
            <img src="assets/images/client-1.png" class="w-100 rounded-circle" alt="">
          </li>
          <li data-target="#carouselExampleIndicators carouseIndic" data-slide-to="1">
            <img src="assets/images/client-2.png" class="w-100 rounded-circle" alt="">
          </li>
          <li data-target="#carouselExampleIndicators carouseIndic" data-slide-to="2">
            <img src="assets/images/client-3.png" class="w-100 rounded-circle" alt="">
          </li>
          <li data-target="#carouselExampleIndicators carouseIndic" data-slide-to="3">
            <img src="assets/images/client-4.png" class="w-100 rounded-circle" alt="">
          </li>
          <li data-target="#carouselExampleIndicators carouseIndic" data-slide-to="4">
            <img src="assets/images/client-5.png" class="w-100 rounded-circle" alt="">
          </li>
          <li data-target="#carouselExampleIndicators carouseIndic" data-slide-to="5">
            <img src="assets/images/client-6.png" class="w-100 rounded-circle" alt="">
          </li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active text-center">
            <div class="carousel-item-desc">
              <h3>Jane Doris</h3>
              <span>From Acme</span>
              <p class=" w-50 text-center mx-auto mt-3 text-muted card-subtitle font-weight-bold"><i
                  class="fas fa-quote-left"></i> Fusce euismod eget nulla a tempus. Pellentesque in varius metus. Fusce
                iaculis cursus ante, vel vestibulum dui sagittis vitae. <i class="fas fa-quote-right"></i></p>
            </div>
          </div>
          <div class="carousel-item text-center">
            <div class="carousel-item-desc">
              <h3>Jane Doris</h3>
              <span>From Acme</span>
              <p class=" w-50 text-center mx-auto mt-3 text-muted card-subtitle font-weight-bold"><i
                  class="fas fa-quote-left "></i> Fusce euismod eget nulla a tempus. Pellentesque in varius metus. Fusce
                iaculis cursus ante, vel vestibulum dui sagittis vitae. <i class="fas fa-quote-right"></i></p>
            </div>
          </div>
          <div class="carousel-item text-center">
            <div class="carousel-item-desc">
              <h3>Jane Doris</h3>
              <span>From Acme</span>
              <p class=" w-50 text-center mx-auto mt-3 text-muted card-subtitle font-weight-bold"><i
                  class="fas fa-quote-left"></i> Fusce euismod eget nulla a tempus. Pellentesque in varius metus. Fusce
                iaculis cursus ante, vel vestibulum dui sagittis vitae. <i class="fas fa-quote-right"></i></p>
            </div>
          </div>
          <div class="carousel-item text-center">
            <div class="carousel-item-desc">
              <h3>Jane Doris</h3>
              <span>From Acme</span>
              <p class=" w-50 text-center mx-auto mt-3 text-muted card-subtitle font-weight-bold"><i
                  class="fas fa-quote-left "></i> Fusce euismod eget nulla a tempus. Pellentesque in varius metus. Fusce
                iaculis cursus ante, vel vestibulum dui sagittis vitae. <i class="fas fa-quote-right"></i></p>
            </div>
          </div>
          <div class="carousel-item text-center">
            <div class="carousel-item-desc">
              <h3>Jane Doris</h3>
              <span>From Acme</span>
              <p class=" w-50 text-center mx-auto mt-3 text-muted card-subtitle font-weight-bold"><i
                  class="fas fa-quote-left "></i> Fusce euismod eget nulla a tempus. Pellentesque in varius metus. Fusce
                iaculis cursus ante, vel vestibulum dui sagittis vitae. <i class="fas fa-quote-right"></i></p>
            </div>
          </div>
          <div class="carousel-item text-center">
            <div class="carousel-item-desc">
              <h3>Jane Doris</h3>
              <span>From Acme</span>
              <p class=" w-50 text-center mx-auto mt-3 text-muted card-subtitle font-weight-bold"><i
                  class="fas fa-quote-left "></i> Fusce euismod eget nulla a tempus. Pellentesque in varius metus. Fusce
                iaculis cursus ante, vel vestibulum dui sagittis vitae. <i class="fas fa-quote-right"></i></p>
            </div>
          </div>
        </div>

      </div>
