<section id="client" class="py-5">
  <div class="header">
    <div class="container py-5">
      <div class="row justify-content-center align-items-center text-center">
        <h2 class="font-weight-bolder">C</h2>
        <h3 class="font-weight-bolder position-absolute">Client Reviews</h3>
      </div>
      <div
        class="
          row
          justify-content-center
          align-items-center
          flex-column
          mx-5
          text-center
        "
      >
        <div class="about-line mb-2"></div>
        <p class="subtitle text-muted mx-5 lead">
          This are some reviews taken from our clients about how our website and
          how it helped them.
        </p>
      </div>
      <!-- Nav -->
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
      >
        <ol class="carousel-indicators position-static">
          <li
            data-target="#carouselExampleIndicators carouseIndic"
            data-slide-to="0"
            class="active"
          >
            <img
              src="assets/images/client-1.png"
              class="w-100 rounded-circle"
              alt=""
            />
          </li>
          <li
            data-target="#carouselExampleIndicators carouseIndic"
            data-slide-to="1"
          >
            <img
              src="assets/images/client-2.png"
              class="w-100 rounded-circle"
              alt=""
            />
          </li>
          <li
            data-target="#carouselExampleIndicators carouseIndic"
            data-slide-to="2"
          >
            <img
              src="assets/images/client-3.png"
              class="w-100 rounded-circle"
              alt=""
            />
          </li>
          <li
            data-target="#carouselExampleIndicators carouseIndic"
            data-slide-to="3"
          >
            <img
              src="assets/images/client-4.png"
              class="w-100 rounded-circle"
              alt=""
            />
          </li>
          <li
            data-target="#carouselExampleIndicators carouseIndic"
            data-slide-to="4"
          >
            <img
              src="assets/images/client-5.png"
              class="w-100 rounded-circle"
              alt=""
            />
          </li>
          <li
            data-target="#carouselExampleIndicators carouseIndic"
            data-slide-to="5"
          >
            <img
              src="assets/images/client-6.png"
              class="w-100 rounded-circle"
              alt=""
            />
          </li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active text-center">
            <div class="carousel-item-desc">
              <h3>Michael Doe</h3>
              <span>From Egypt</span>
              <p
                class="
                  w-50
                  text-center
                  mx-auto
                  mt-3
                  text-muted
                  card-subtitle
                  font-weight-bold
                "
              >
                <i class="fas fa-quote-left"></i>
                I used this website couple of times and it really helped me find
                what I need in no time.
                <i class="fas fa-quote-right"></i>
              </p>
            </div>
          </div>
          <div class="carousel-item text-center">
            <div class="carousel-item-desc">
              <h3>John Oblak</h3>
              <span>From Egypt</span>
              <p
                class="
                  w-50
                  text-center
                  mx-auto
                  mt-3
                  text-muted
                  card-subtitle
                  font-weight-bold
                "
              >
                <i class="fas fa-quote-left"></i> Best website ever and great
                idea glad to find a website that is helpful like this one.
                <i class="fas fa-quote-right"></i>
              </p>
            </div>
          </div>
          <div class="carousel-item text-center">
            <div class="carousel-item-desc">
              <h3>Rick Aguero</h3>
              <span>From Acme</span>
              <p
                class="
                  w-50
                  text-center
                  mx-auto
                  mt-3
                  text-muted
                  card-subtitle
                  font-weight-bold
                "
              >
                <i class="fas fa-quote-left"></i> Great idea! Very helpful!
                <i class="fas fa-quote-right"></i>
              </p>
            </div>
          </div>
          <div class="carousel-item text-center">
            <div class="carousel-item-desc">
              <h3>Sergio Dor</h3>
              <span>From Egypt</span>
              <p
                class="
                  w-50
                  text-center
                  mx-auto
                  mt-3
                  text-muted
                  card-subtitle
                  font-weight-bold
                "
              >
                <i class="fas fa-quote-left"></i>
                I did not know where can I find things to rent until one of my
                friends told me about this website.
                <i class="fas fa-quote-right"></i>
              </p>
            </div>
          </div>
          <div class="carousel-item text-center">
            <div class="carousel-item-desc">
              <h3>Jane Doris</h3>
              <span>From Acme</span>
              <p
                class="
                  w-50
                  text-center
                  mx-auto
                  mt-3
                  text-muted
                  card-subtitle
                  font-weight-bold
                "
              >
                <i class="fas fa-quote-left"></i>
                Great Experience! I found what I needed to fix my car real
                quick.
                <i class="fas fa-quote-right"></i>
              </p>
            </div>
          </div>
          <div class="carousel-item text-center">
            <div class="carousel-item-desc">
              <h3>Adam John</h3>
              <span>From Acme</span>
              <p
                class="
                  w-50
                  text-center
                  mx-auto
                  mt-3
                  text-muted
                  card-subtitle
                  font-weight-bold
                "
              >
                <i class="fas fa-quote-left"></i>
                I needed a good hammer because I lost mine and found a good one
                right next to me. It was my neighbor's.
                <i class="fas fa-quote-right"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>