<section class="text-center about py-5 my-5">
  <div class="row justify-content-center align-items-center text-center my-5">
    <h2 class="font-weight-bolder styleh2">A</h2>
    <h3 class="font-weight-bolder position-absolute">About US</h3>
  </div>
  <div class="container mt-3">
    <div class="row">
      <div
        class="col-xl-4 col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn"
        data-wow-offset="200"
      >
        <span class="fa fa-users"></span>
        <h2 class="py-3">Users</h2>
        <p class="lead">
          Our users may be your neighbor, best friend or even your boss. Anyone
          can create an account and offer anything for rent with a price of his
          choice.
        </p>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn"
        data-wow-offset="200"
      >
        <span class="fa fa-info"></span>
        <h2 class="py-3">Info</h2>
        <p class="lead">
          Join us now. You can create one account to rent from other users or
          offer your things for rent. One account is enough No need for a
          renting account and seller account.
        </p>
      </div>
      <!-- <div class="clearfix visible-md-block visible-sm-block"></div> -->
      <div
        class="col-xl-4 col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn"
        data-wow-offset="200"
      >
        <span class="fa fa-cart-arrow-down" aria-hidden="true"></span>
        <h2 class="py-3">Products</h2>
        <p class="lead">
          Can be anything as long as it does not conflict with the community
          standards and approved by the admins.
        </p>
      </div>
    </div>
  </div>
</section>