<section class="text-center about py-5 my-5">
  <div class="row justify-content-center align-items-center text-center my-5">
    <h2 class="font-weight-bolder styleh2">A</h2>
    <h3 class="font-weight-bolder position-absolute">About US</h3>
  </div>
  <div class="container mt-3">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
        <span class="fa fa-users"></span>
        <h2 class="py-3">Users</h2>
        <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
          the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled</p>
      </div>
      <div class="col-xl-4 col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
        <span class="fa fa-info"></span>
        <h2 class="py-3">Info </h2>
        <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum </p>
      </div>
      <!-- <div class="clearfix visible-md-block visible-sm-block"></div> -->
      <div class="col-xl-4 col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
        <span class="fa fa-cart-arrow-down" aria-hidden="true"></span>
        <h2 class="py-3">Products</h2>
        <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
          the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled</p>
      </div>

    </div>

  </div>
</section>
