
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<section id="services">
  <div class="header">
    <div class="container  py-5">
      <div class="row justify-content-center align-items-center text-center">
        <h2 class="font-weight-bolder">S</h2>
        <h3 class="font-weight-bolder position-absolute">Services</h3>
      </div>
      <div class="row justify-content-center align-items-center flex-column mx-5 text-center">
        <div class="about-line mb-2"></div>
        <p class="subtitle text-muted mx-5 lead">Nullam ac enim auctor, fringilla risus at, imperdiet turpis.
          Pellentesque elementum libero enim, eget gravida nunc laoreet et. Pellentesque elementum libero enim.</p>
      </div>
      <div class="row mt-5">








    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 text-center my-3">
      <div class="card">

        <div class="icon"><i class="material-icons md-36">face</i></div>
        <p class="title">Profile</p>
        <p class="text">Click to see or edit your profile page.</p>

      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 text-center my-3">
      <div class="card">

        <div class="icon"><i class="material-icons md-36">favorite_border</i></div>
        <p class="title">Favourites</p>
        <p class="text">Check all your favourites in one place.</p>

      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 text-center my-3">
      <div class="card">

        <div class="icon"><i class="material-icons md-36">alternate_email</i></div>
        <p class="title">Contacts</p>
        <p class="text">Add or change your contacts and links.</p>

      </div>
    </div>
  </div>



        <!-- <div class="col-md-6 col-lg-4  position-relative parent-service">
          <h4 class="descriptionS">Responsive Layout</h4>
          <p class="serDecr text-muted">
            Ferri reque integre mea ut, eu eos vide errem noluise se. Putent laoreet et ius utroque dissentias ut.
          </p>
          <div class="iconf position-absolute ">
            <i class=" fa fa-map fa-2x"></i>
          </div>
        </div>

        <div class="col-md-6 col-lg-4  position-relative parent-service">
          <h4 class="descriptionS">Responsive Layout</h4>
          <p class="serDecr text-muted">
            Ferri reque integre mea ut, eu eos vide errem noluise se. Putent laoreet et ius utroque dissentias ut.
          </p>
          <div class="iconf position-absolute">
            <i class="fa fa-users fa-2x"></i>
          </div>
        </div>
        <div class="col-md-6 col-lg-4  position-relative parent-service">
          <h4 class="descriptionS">Responsive Layout</h4>
          <p class="serDecr text-muted">
            Ferri reque integre mea ut, eu eos vide errem noluise se. Putent laoreet et ius utroque dissentias ut.
          </p>
          <div class="iconf position-absolute ">
            <i class=" fa fa-map fa-2x"></i>
          </div>
        </div>
        <div class="col-md-6 col-lg-4  position-relative parent-service">
          <h4 class="descriptionS">Responsive Layout</h4>
          <p class="serDecr text-muted">
            Ferri reque integre mea ut, eu eos vide errem noluise se. Putent laoreet et ius utroque dissentias ut.
          </p>
          <div class="iconf position-absolute ">
            <i class=" fa fa-map fa-2x"></i>
          </div>
        </div>
        <div class="col-md-6 col-lg-4  position-relative parent-service">
          <h4 class="descriptionS">Responsive Layout</h4>
          <p class="serDecr text-muted">
            Ferri reque integre mea ut, eu eos vide errem noluise se. Putent laoreet et ius utroque dissentias ut.
          </p>
          <div class="iconf position-absolute">
            <i class="fa fa-users fa-2x"></i>
          </div>
        </div>
        <div class="col-md-6 col-lg-4  position-relative parent-service">
          <h4 class="descriptionS">Responsive Layout</h4>
          <p class="serDecr text-muted">
            Ferri reque integre mea ut, eu eos vide errem noluise se. Putent laoreet et ius utroque dissentias ut.
          </p>
          <div class="iconf position-absolute ">
            <i class=" fa fa-map fa-2x"></i>
          </div>
        </div>
        <div class="col-lg-4 position-relative parent-service">
          <h4 class="descriptionS">Responsive Layout</h4>
          <p class="serDecr text-muted">
            Ferri reque integre mea ut, eu eos vide errem noluise se. Putent laoreet et ius utroque dissentias ut.
          </p>
          <div class="iconf position-absolute ">
            <i class=" fa fa-map fa-2x"></i>
          </div>
        </div>
        <div class="col-lg-4 position-relative parent-service">
          <h4 class="descriptionS">Responsive Layout</h4>
          <p class="serDecr text-muted">
            Ferri reque integre mea ut, eu eos vide errem noluise se. Putent laoreet et ius utroque dissentias ut.
          </p>
          <div class="iconf position-absolute">
            <i class="fa fa-users fa-2x"></i>
          </div>
        </div>
        <div class="col-lg-4 position-relative parent-service">
          <h4 class="descriptionS">Responsive Layout</h4>
          <p class="serDecr text-muted">
            Ferri reque integre mea ut, eu eos vide errem noluise se. Putent laoreet et ius utroque dissentias ut.
          </p>
          <div class="iconf position-absolute ">
            <i class=" fa fa-map fa-2x"></i>
          </div> -->
        <!-- </div> -->
      </div>
    </div>
  <!-- </div> -->
