


<section id="services " >
  <div class="header ddd">
      <div class="container  py-5">
          <div class="row justify-content-center align-items-center text-center">
              <h2 class="font-weight-bolder">S</h2>
              <h3 class="font-weight-bolder position-absolute">Services</h3> 
          </div>
          <div class="row justify-content-center align-items-center flex-column mx-5 text-center">
              <div class="about-line mb-2"></div>
              <p class="subtitle text-muted mx-5 lead">Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Pellentesque elementum libero enim, eget gravida nunc laoreet et. Pellentesque elementum libero enim.</p>
          </div>
         
            <div class="service-items row h-auto ">
              <div class="service-item col-xl-3" >
                  <i class="fa fa-cogs fa-2x"></i>
                  <h3>UI/UX DESIGN</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione adipisci mollitia quis necstatibus.</p>
              </div>
              <div class="service-item col-xl-3" >
                  <i  class="fas fa-code fa-2x"></i>
                  <h3>APP DEVELOPMENT</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione adipisci mollitia quis necstatibus.</p>
              </div>
              <div class="service-item col-xl-3" >
                  <i class=" fa fa-map fa-2x"></i>
                  <h3>PRODUCT DESIGN</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione adipisci mollitia quis necstatibus.</p>
              </div>
              <div class="service-item col-xl-3" >
                  <i class="fa fa-users fa-2x"></i>
                  <h3>UI/UX DESIGN</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione adipisci mollitia quis necstatibus.</p>
              </div>
          </div> 
          
         

        
      </div>
  </div>


</section>
