@import "~bootstrap-icons/font/bootstrap-icons.css";



* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.header .container .row h2 {
  font-size: 70px;
  color: #d8d0d0;
}

a {
  text-decoration: none;
}


